header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(172, 104, 104);
  align-items: center;
}

img {
  display: block;
  width: 15%;
  transition: 0.3 ease-in-out;
  flex-direction: r;
}

img:hover {
  transform: rotate(15deg);
}

h1 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
